@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  max-width: 1000px;
  margin: 80px auto;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.messages {
  background-color: aliceblue;
  padding: 24px;
  border-radius: 8px;
  margin: 40px auto;
  max-width: 1000px;
  width: 100%;
}
